.formStyle{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.loginButton{
    width: 60%;
}
.containel{
  max-width: 500px;
  width: 100%;
  text-align: center;
  background-color: #FFDA44;
  border-radius: 10px;
  padding: 30px;
  margin: 50px auto;
}
h2{
  color: #fff;
}
