.card {
  position: relative;
  height: 200px;
  text-align: left;
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  color: #fff;
  background-image: url('/store/bg_w.png');
  background-repeat: no-repeat;
  background-size: 142px 128px;
  background-position: bottom right;
}
.card-list {
  width: 100%;
  padding: 24px;
  text-align: center;
  h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
  }
  :global {
    .ant-card-head {
      background-color: inherit;
      border-bottom: 0;
      padding: 0;
      min-height: 0;
    }
    .ant-card-head-title {
      padding: 0;
    }
    .ant-card-extra {
      padding: 0;
      text-align: right;
    }
    .ant-card-meta-title {
      margin-bottom: 12px;
      & > a {
        color: rgba(0, 0, 0, 0.85);
      }
    }
    .ant-card-actions {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background: #f7f9fa;
    }
    .ant-card-body:hover {
      .ant-card-meta-title > a {
        color: #1890ff;
      }
    }
    .ant-btn-dashed:focus, .ant-btn-dashed:hover {
      background-image: url('/store/bg_g.png');
      background-repeat: no-repeat;
      background-size: 142px 128px;
      background-position: bottom right;
    }
    .ant-card-body {
      padding: 0;
    }
  }
}
